body {
    background-image: url("Background.svg");
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;

}

h1 {
    color: aliceblue;
}

hr {
    width: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 100%;
    gap: 5px;
    align-items: center;
}

.ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
    animation-duration: 10ms;
}

.ticket:hover {
    animation-duration: 10ms;
    background-color: red;
    text-decoration: line-through;
}


.divider {
    margin: auto;
}

.description {
    font-size: 40%;
    color: gray;
}

.price {
    padding-right: 5px;
    font-size: small;
}

.doubloon {
    height: auto;
    width: 15px;
}

#vertical{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
    width: 200px;
    height: min-content;
    position: fixed;
    transform: translateX(-200%);
}

#total {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
    width: 200px;
    height: min-content;
    position: fixed;
    transform: translateX(200%);
}

#ticket {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#warning {
    background-color: red;
    width: 100%;
    height: fit-content;
    font-size: small;
    padding: 5px;
    color: white;
}

@font-face {
    font-family: "HighSeas";
    src: url("Font\ File.ttf");
}

* {
    font-family: "HighSeas";
    /* border: red 1px solid; */
}